<a href="https://colab.research.google.com/github/IshaniNag75/Python_Assignments/blob/main/10322210075_Ishani_Nag_Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def isPalindrome(s):
  return s == s[::-1]
s = input("Enter any string: ")
ans = isPalindrome(s)
if ans:
  print("Yes, it is a palindrome")
else:
  print("No, it is not a palindrome")

Enter any string: malayalam
Yes, it is a palindrome

In [2]:
import string
alphabet = set(string.ascii_lowercase)
input_string = 'The quick brown fox jumps over the lazy dog'
print(set(input_string.lower())>=alphabet)
input_string = 'The quick brown fox jumps over the lazy cat'
print(set(input_string.lower())>=alphabet)

True
False

In [5]:
def largestWord(s):
	s = sorted(s, key = len)
	print(s[-1])
if __name__ == "__main__":
	s = "be confident and be yourself"
	l = list(s.split(" "))
	largestWord(l)

confident

In [6]:
s = input("Enter any string: ")
vowels = "aeiouAEIOU"
count = sum(s.count(vowel) for vowel in vowels)
print("There are",count,"vowels")

Enter any string: This is SRM University
There are 6 vowels

In [7]:
def is_sentence(text):
    if text and text[0].isupper():
        if text[-1] == '.':
            return True
    return False
sentence1 = input("Enter any string: ")
sentence2 = input("Enter any string: ")

print(is_sentence(sentence1))
print(is_sentence(sentence2))

Enter any string: This is SRM University
Enter any string: This is SRM University.
False
True

In [ ]:
list1 = [char for char in 'ACADGILD']
print(list1)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [ ]:
list2 = [char * num for char in 'xyz' for num in range(1, 5)]
print(list2)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
list3 = [char * num for num in range(1, 5) for char in 'xyz']
print(list3)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
list4 = [[num + i] for num in range(2, 5) for i in range(3)] + [[num + i for num in range(2, 6)] for i in range(4)]
print(list4)

[[2], [3], [4], [3], [4], [5], [4], [5], [6], [2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
list5 = [(j, i) for i in range(1, 4) for j in range(1, 4)]
print(list5)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
student_list = ["AA", "BB", "ABC", "DEF", "DOB", "IJK"]
result = [element for element in student_list if element.endswith('b') or element.endswith('B') and len(element) > 2]
print("Elements ending with 'b' and having length greater than 2:", result)

Elements ending with 'b' and having length greater than 2: ['DOB']

In [ ]:
student_tuple = ("AA", "BB", "ABC", "DEF", "DOB", "IJK")
reversed_tuple = tuple(word[::-1] for word in student_tuple)
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: ('AA', 'BB', 'CBA', 'FED', 'BOD', 'KJI')

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}
set3 = {1, 6, 8, 3, 5}
common_elements = set1 & set2 & set3
print("Common elements:", common_elements)

Common elements: {5}

In [ ]:
unique_elements_set2 = set2 - set3
unique_elements_set3 = set3 - set2
print("Unique elements from Set 2: ",unique_elements_set2)
print("Unique elements from Set 3: ",unique_elements_set3)

Unique elements from Set 2:  {9, 4, 7}
Unique elements from Set 3:  {1, 3}

In [ ]:
if set2^set3==True:
  print("The sets are disjoint")
else:
  print("The sets are not disjoint")

The sets are not disjoint

In [ ]:
set_of_sets = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9, 10})}
max_element = max({element for subset in set_of_sets for element in subset})
min_element = min({element for subset in set_of_sets for element in subset})
print("Maximum element:", max_element)
print("Minimum element:", min_element)

Maximum element: 10
Minimum element: 1

In [ ]:
students = [{'name': 'ABC', 'grade': 90, 'age': 19},{'name': 'DEF', 'grade': 80, 'age': 20},{'name': 'HIJ', 'grade': 90, 'age': 21}]
sorted_students = sorted(students, key=lambda x: (-x['grade'], x['name']))
print(sorted_students)

[{'name': 'ABC', 'grade': 90, 'age': 19}, {'name': 'HIJ', 'grade': 90, 'age': 21}, {'name': 'DEF', 'grade': 80, 'age': 20}]

In [ ]:
def evaluate_expression(expression):
    expression = expression.replace('x', '*')
    result = eval(expression)
    return result
expression = "8 + 5 * (3 - 2)"
result = evaluate_expression(expression)
print("Result:", result)

Result: 13